// Variables

// Colors
$primary_color: #0b003c;
$primary: $primary_color;
$white: #fff;

// Fonts
$heading_font: 'Bitter', serif;
$font_bold: 700 !important;

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: $font_bold;
}
