.hero-image-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30vh;
  width: 100vw;

  @include media-breakpoint-up(md) {
    height: 75vh;
  }
}

// Home Page Menu
.home-menu-container {
  margin-top: 45px;
  padding-left: 0;
  padding-right: 0;
}

#home-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;

  li {
    @include font-size(1rem);
    flex: 1 0 26%;
    height: 50px;
    background-color: $primary_color;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        @include font-size(1rem);
        flex: 1 0 26%;
        height: 50px;
        background-color: $primary_color;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: auto;
        text-align: center;

        a {
            color: $white;
            font-family: $heading_font;
        }
    }
  }
}

.image-links {
  margin: 15px auto;

  @include media-breakpoint-up(md) {
    margin: 45px auto;
  }

  .left-image,
  .right-image {
    margin: 10px auto;
    text-align: center;

    @include media-breakpoint-down(md) {
      margin: 10px 16%;
    }

    a {
      display: flex;
    }
  }
}

@media (max-width: 767.98px) {
  #home-menu > li {
    flex-basis: 34%;
    margin: 4px;
  }
}

@media (max-width: 320px) {
  #home-menu > li {
    flex-basis: 51%;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  #home-menu > li {
    margin: 10px;
  }
}
// END Home Page Menu
